/* bulletinList.css - Minimal layout overrides */

.xzzdpro-main {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  overflow: hidden;
  height: 100%;
}

.main-content-wrapper {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}
